.cards-block {
    min-height: 100vh;
    padding: 30px;
    margin: auto;
    width: 90%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-content: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 12px;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px #e9531c, 0 0 5px #0004;
    position: relative;
}

.cat-age{
    position: absolute;
    right: 8px;
    top: 8px;
    color: #034ff9;
    margin: 0;
    font-weight: 700;
    font-size: 1.3rem;
}

.card .like {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 1.3rem;
    color: #0a59e9;
    cursor: pointer;
}

.like:hover {
    transform: scale(1.1, 1.1);

}

.card-trash {
    position: absolute;
    left: 8px;
    bottom: 8px;
    font-size: 1.3rem;
    color: #0a59e9ad;
    cursor: pointer;
}

.card-trash:hover, .card-edit:hover {
    color: #0a59e9;
    transform: scale(1.1, 1.1);
}

.card-edit{
    position: absolute;
    left: 34px;
    bottom: 8px;
    font-size: 1.3rem;
    color: #0a59e9ad;
    cursor: pointer;
}

.card .pic {
    height: 330px;
    width: 100%;
    background-color:  #fff;
    background-image: url(https://www.kinometro.ru/res/pic/data/news/9580.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.pic.tmp {
    background-image: url(img/Три\ кота_default.png);
    background-size: contain;
}