form {
    display: grid;
    gap: 16px;
}

.form-group {
    display: grid;
    gap: 6px;
}

.form-submit {
    background-color:#0a59e9c2;
    border: none;
    outline: none;
    color: #fff;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    font: inherit;
    padding: 0 12px;
}

.form-submit:hover {
    background-color: rgb(42, 45, 230);
}

input:note([type="checkbox"]) {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
}

input,
textarea {
    outline: none;
    border: 1px solid rgb(42, 45, 230);
    padding: 6px 8px;
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
    font: inherit;
}

.form-text{
    height: 4.5rem;
}

label {
    user-select: none;
    font-weight: 500;
}

.form-group-item {
    position: relative;
    display: grid;
    gap: 6px;
    grid-template-columns: 10% 90%;
}

input[type="checkbox"] {
    display: none;
  }

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-left: 25px;
    cursor: pointer;
}

.custom-checkbox::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 15px;
    cursor: pointer;
    background-image: url('/img/heart_favourite_like.png');
    background-size: contain;
    background-repeat: no-repeat;
 } 

input[type="checkbox"]:checked+.custom-checkbox::before {
    background-image: url('/img/icons8-красное-сердце-48.png');
    background-repeat: no-repeat;
 } 

.preview {
    height: 260px;
    background-color: #fff;
    border-radius: 8px;
    background-image: url("/img/Три\ кота_default.png");
    background-position: center;
    background-size: cover;
}