.header {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: auto;
    background: transparent;
    z-index: 1;
    transition: 0.25s ease;
}

.header__scrolled{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('/img/Фон\ лапки.jpg');
    opacity: 0.9;
    box-shadow: 0 12px 34px -11px rgb(65 62 101 / 10%);
  }

.add-cat {
    border-radius: 50px;
}

.header-logo{
    width: 200px;
    height: auto;
}
